@font-face {
    font-family:myFont1 ;
    src: url("fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family:myFont2 ;
    src: url("fonts/Cabin-Regular.ttf");
}

@font-face {
    font-family:myFont3 ;
    src: url("fonts/Asar_regular.ttf");
}


html {
    background-color:black;
}
body {
    /* background-image: url("images/pexels-loc-dang-1600132.jpg"); */
    background-color:rgb(0, 0, 0);
    padding:10px;
    
    
}
.container0 {
    display:flex;
    justify-content:center;
    background-color:rgb(0, 0, 0);
    
}
.container1 {
    display:inline-block;
    position:relative;
    min-height:100px;
    min-width:280px; 
    padding-top:0px;
    padding-bottom:10px; 
}

#theBible {
    height:100px ;
    width:280px;
    border-radius:20px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.345);
    border-style:solid;
    border-width:1px;
    border-color:rgb(245, 245, 245); 
     
}

@media screen and (min-width:820px) {
    .container {
      width:770px;
    }
    #theBible {
        width:770px; 
    }
  }

h1 {
    font-family: myFont3, Arial, Helvetica, sans-serif;
    position:absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%; 
    text-align: center;   
    color:rgb(0, 0, 0);
    font-size:25px;
}


.container2 {
    display:flex;
    background-color:rgba(165, 170, 187, 0.083);
    flex-flow:column;  
    border-radius:10px;
    padding-right:2px;
    padding-left:5px;
    border-style:solid;
    border-color:rgb(255, 255, 255);
    border-width:1px;
    
    
    
}
#theBible2 {
    min-height:100px ;
    min-width:100px;
    border-style:solid;
    border-width:1px;
    border-color:rgb(0, 0, 0);
    border-radius:5px;
    margin-left:10px;
    margin-right:12px;
    margin-top:10px;
    margin-bottom:10px;
}   
    
.container3 {
    display:flex;
    background-color:rgba(165, 170, 187, 0.083);
    padding-bottom:15px;
    justify-content: center;
    align-items: center;
    gap:20px;
    
        
}

ol {   
    color:rgb(0, 0, 0);
    font-family: myFont2, Arial, Helvetica, sans-serif;
    font-size:13px;
    justify-content: left;
    position:relative;
    left:10px;
    background-color:rgb(255, 255, 255);
    margin-bottom:-10px;
    border-radius: 5px;
    margin-right:25px;
    padding:20px;
    margin-bottom:2px;
    border-style:ridge;
    border-color:rgb(0, 0, 0);
    border-width:3px;
    
    
}

ul {   
    color:rgb(0, 0, 0);
    font-family: myFont2, Arial, Helvetica, sans-serif;
    font-size:13px;
    justify-content: left;
    position:relative;
    left:-15px;
    border-color:rgb(0, 0, 0);
    margin-left:25px;
    
    background-color:white;
    border-radius:5px;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;  
    border-style:ridge;
    border-color:rgb(0, 0, 0);
    border-width:3px; 
    
}

#myAnswer {
    font-family: myFont2, Arial, Helvetica, sans-serif;
    resize:none;
    border-style:ridge;
    border-color:rgb(0, 0, 0);
    border-width:3px;
    color:black;
    font-size:13px;
    border-radius: 5px; 
    margin-left:10px;
    margin-right:13px;
    padding:10px;
    
}

#reset {
    width:60px;
    font-family: myFont1, Arial, Helvetica, sans-serif;
    /* grid-column-start:2;
    grid-column-end:2; */
}

#start {
    width:60px;
    font-family: myFont1, Arial, Helvetica, sans-serif;
    /* grid-column-start:2;
    grid-column-end:2; */
}