@font-face {
    font-family:myFont1 ;
    src: url("fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family:myFont2 ;
    src: url("fonts/Cabin-Regular.ttf");
}

html {
    background-color:black;
}
body {
    /* background-image: url("images/pexels-loc-dang-1600132.jpg"); */
    background-color:rgb(0, 0, 0);
    padding:10px;
    
    
}
.container0 {
    display:flex;
    justify-content:center;
    background-color:rgb(0, 0, 0);
    
}
.container1 {
    display:inline-block;
    position:relative;
    min-height:100px;
    min-width:280px; 
    padding-top:0px;
    padding-bottom:10px; 
}

#theBible {
    height:100px ;
    width:280px;
    border-radius:20px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.345);
    border-style:solid;
    border-width:1px;
    border-color:rgb(245, 245, 245);
    
    
    
}

h1 {
    font-family: myFont2, Arial, Helvetica, sans-serif;
    position:absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%; 
    text-align: center;   
    color:rgb(0, 0, 0);
    font-size:30px;
}


.container2 {
    display:flex;
    background-color:rgb(52, 229, 229);
    flex-flow:column;
    border-style:solid;
    border-width:1px;
    border-color:rgb(255, 255, 255);
    border-radius:10px;
    padding-right:2px;
    
    
}
#theBible2 {
    min-height:100px ;
    min-width:100px;
    border-style:solid;
    border-width:1px;
    border-color:rgb(255, 255, 255);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    margin-left:10px;
    margin-right:12px;
    margin-top:10px;
    margin-bottom:10px;
    
    
    
    
    
    
}

ol {   
    color:rgb(0, 0, 0);
    font-family: myFont2, Arial, Helvetica, sans-serif;
    font-size:12px;
    justify-content: left;
    position:relative;
    left:10px;
    background-color:rgb(255, 255, 255);
    border-style:solid;
    border-width:1px;
    border-color:rgb(0, 0, 0);
    margin-bottom:-10px;
    border-radius: 5px;
    margin-right:25px;
    padding:20px;
    margin-bottom:10px;
    
    
}

ul {   
    color:rgb(0, 0, 0);
    font-family: myFont2, Arial, Helvetica, sans-serif;
    font-size:12px;
    justify-content: left;
    position:relative;
    left:-15px;
    border-style:solid;
    border-width:1px;
    border-color:rgb(0, 0, 0);
    margin-left:25px;
    
    background-color:white;
    border-radius:5px;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;   
    
}

#myAnswer {
    font-family: myFont2, Arial, Helvetica, sans-serif;
    resize:none;
    border-style:solid;
    border-color:black;
    border-width:1px;
    color:black;
    font-size:12px;
    border-radius: 5px; 
    margin-left:10px;
    margin-right:13px;
    
}